---
const ip = Astro.request.headers.get("x-forwarded-for");
const userAgent = Astro.request.headers.get("user-agent");
import { actions } from "astro:actions";
const result = Astro.getActionResult(actions.handlePhoto);
---

<main>
    <h1>Hello World</h1>
    {result?.error && <p style="color: red">{result.error}</p>}
    <form method="post" action={actions.handlePhoto} enctype="multipart/form-data">
        <label for="file_input">Take a picture</label>
        <input type="file" accept="image/*" capture="camera" name="picture" id="file_input" style="display: none;" />
        <input type="hidden" name="ip" value={ip ?? ""} />
        <input type="hidden" name="userAgent" value={userAgent ?? ""} />
        <img alt="Placeholder" id="result" />
        <button type="submit">Submit</button>
    </form>
</main>

<style>
    img {
        max-width: 300px;
        margin-top: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
</style>

<script>
    const fileDataURL = (file: Blob) =>
        new Promise((resolve, reject) => {
            let fr = new FileReader();
            fr.onload = () => resolve(fr.result);
            fr.onerror = reject;
            fr.readAsDataURL(file);
        });

    function showResult(file: Blob) {
        fileDataURL(file)
            .then((data) => {
                const resultImg = document.getElementById("result") as HTMLImageElement | null;
                if (resultImg) {
                    resultImg.src = data as string;
                }
            })
            .catch((err) => console.log(err));
    }

    const fileInput = document.querySelector("#file_input") as HTMLInputElement | null;
    if (fileInput) {
        fileInput.addEventListener("change", function () {
            const files = this.files;
            console.log({ files });
            const file = files && files[0];
            if (file) {
                showResult(file);
            }
        });
    }
</script>
