---
import camera from "@/assets/camera.svg";
import cameraRotate from "@/assets/camera-rotate.svg";
import light from "@/assets/light.svg";
const ip = Astro.request.headers.get("x-forwarded-for");
const userAgent = Astro.request.headers.get("user-agent");
---

<main>
    
</main>

<style>

</style>

<script>

</script>
